# Intro to Python and Machine Learning Toolbox

1.	Setting up development environment (20 min)

	+	Python and Anaconda
	+	Jupyter Notebook
	+ 	Important libraries, packages and modules
	
    
2.	Python Basics (2 hrs)

	+	Basics
	+	Strings and formatting
	+	Data structures (Lists, Dictionaries, Tuples and Sets)
	+	Conditional states
    +	Loops
	+	List and Dict Comprehensions
	+	Input/output operations (reading and writing files)
	+	Functions
	+	Embedded functions (all, any, map, lambda, filter)
	+	Exceptions and error handling
    +	Modules


3.	Exploratory Data Analysis (EDA) with Pandas and Numpy	(1 hrs)
	
	+	Pandas
	+	Numpy
    +   Pandas Built-in Visualization Tool
	-	EDA framework


4.	Intro to Machine Learning with Scikit Learn (2-3 hrs)

    - Preprocessing

    - Regression

    - Classification

    - Clustering

    - Model Selection and Evaluation

    - Dimensionality Reduction
    	
    - ML Pipeline

In [3]:
# let's check the Python version at first

!python -V

Python 3.6.5 :: Anaconda, Inc.

# A. Python Basics

## 1. Basics

In [7]:
a=1
b=3.5

print (a, b, "The value of variable a is...", a, 4, sep=">>")
print("cc")

1>>3.5>>The value of variable a is...>>1>>4
cc

In [9]:
type(a)

int

In [11]:
a=1.5

print (type(a))

print ("The type of",a,"is now float..")

<class 'float'>
The type of 1.5 is now float..

In [18]:
#int

a=1

#float

b=1.5

#string (str)

c="Hello \nWorld \n Hello \n World \n sdsdasda"
print (c)
#boolean (bool)

d= True

Hello
World
 Hello
 World
 sdsdasda

In [7]:
type(a)

int

In [8]:
type(b)

float

In [9]:
type(c)

str

In [10]:
type(d)

bool

In [21]:
# we can easily convert from one type to another..
b=1.8

int(b)

type(b)

float

In [22]:
float(a)

1.0

In [23]:
name = 'Jack'   # single quotes
surname = "Bauer"   # double quotes

print (name,surname)

Jack Bauer

In [24]:
print ("The sum of a and b is", a+b)

The sum of a and b is 2.8

In [25]:
x=a+b

print (x)

2.8

In [26]:
# addition and subtraction

print (4+7)
print (56-32)

11
24

In [29]:
# multiplication

print (type(str(5)))

<class 'str'>

In [15]:
# division

print (56/7)

8.0

In [31]:
şekil=
şekil.fit(X,y)
print (şekil)
şekil.predict([1,3,4,5])

3

In [16]:
# exponent

5**2

25

In [34]:
130/11

11.818181818181818

In [35]:
130//11

# digits after the decimal point are removed

11

In [36]:
# order of operations

"""
1. Parentheses
2. Exponent
3. Multiplication or Division
4. Addition or Subtraction
"""

m= (a+b)*(a**2)/5+2

print (m)

2.56

# title

#### mini title *dd*

In [39]:
x=5

# we can also do this with -, * and /
x+=1
print (x)

x=x+1
"""
x-=3 # this will subract 3 from x and assign to x
"""
print (x) #CDSDFDDD
#<

6
7

In [40]:
#module (%)

y= x%2

print (y)

# divides left hand operand by right hand operand and returns remainder

1

For detailed mathematical operations and functions, please refer to Python "math" library

#### Comparison operators









<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">What it does</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If two values are equal, returns True, else returns False.</td>
<td> 2 == 2 (True) ,  2 == 3 (False)</td>
</tr>
<tr>
<td>!=</td>
<td>If two values are not equal, returns True, else returns False.</td>
<td>2 != 2 (False), 2 != 3 (True)</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the left hand side value is gretaer than the right hand side, returns True, else returns False. </td>
<td> 3 > 2 (True), 2 > 3 (False)</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the left hand side value is less than the right hand side, returns True, else returns False. </td>
<td> 2 &lt; 3 (True) , 3 &lt; 2 (False) </td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the left hand side value is gretaer than or equal to right hand side, returns True, else returns False.</td>
<td> 3 &gt;= 2 (True),3 &gt;= 3 (True) , 2 &gt;= 3 (False)</td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the left hand side value is less than or equal to right hand side, returns True, else returns False.</td>
<td> 3 &lt;= 2 (False),3 &lt;= 3 (True) , 2 &lt;= 3 (True) </td>
</tr>
</table>

In [25]:
# Comparison Operators

# equal
print (a == b)

# not equal
print (a != b)

# less than
print (a < b)

# greater than
print (a>b)

# less than or equal
print (a<=b)

# greater than or equal
print (a>=b)

False
True
True
False
True
False

## 2. Strings in Python

In [41]:
score_Jack= "learning"
b="Python"
c="is fun"

print(a,b,c,sep = ".")
# sep token is used to put custom characters between items.. we can use anything in sep..

print(a,b,c,sep = "_")

print ("July","12","2007", sep="/")

1.Python.is fun
1_Python_is fun
July/12/2007

In [42]:
# If we use end of line symbol (\n), we can write each item line by line

print ("Intro to Python","ML Toolkit", sep="\t")

Intro to Python	ML Toolkit

In [28]:
# * formatting is used to put spaces between each letter in string
print(*"Python")

print(*"Python",sep = "\n")

a= "Python"

print (*a)

P y t h o n
P
y
t
h
o
n
P y t h o n

#### String functions and formatting

In [29]:
# sprintf style formatting

output = 'my life is %s %s %d' % ("hello", "world", 35)  
print (output)

output = '%s %s %.2f' % ("hello", "world", 35)  
print (output)

hello world 35
hello world 35.00

In [46]:
first=25
second="15"

print ("the difference between %d and %s" %(first, second))

the difference between 25 and 15

In [48]:
name_list=["jack", "marry", "john"]
for name in name_list:
    print ("the name of person is %s. And done !" %(name))
    print ("the name of person is {}. And done !".format(name))

the name of person is jack. And done !
the name of person is jack. And done !
the name of person is marry. And done !
the name of person is marry. And done !
the name of person is john. And done !
the name of person is john. And done !

In [30]:
# .format usage with {}

x="{} {} {}".format(3.142311,25.324,7.00324324)

print (x)

print ("{} {} {}".format(3.142311,25.324,7.00324324))

3.142311 25.324 7.00324324
3.142311 25.324 7.00324324

In [49]:
a = 31
b = 45

print("the sum of {} and {} is {}".format(a,b,a+b))

the sum of 31 and 45 is 76

In [32]:
# we can reorder the items by specyfying the numbers

"{0} {2} {1} {3}".format("learning",5,"Python in","days")

'learning Python in 5 days'

In [33]:
# we can specify the number of digits to be used after . in floats

"{:.2f} {:.2f} {:.3f}".format(13.142311,25.324,7.00324324)

'13.14 25.32 7.003'

In [51]:
2/3.5

0.5714285714285714

In [358]:
# If we would like to print the statements in the same line (not in a seperate line), we can use "end" parameter of print
# The default value of "end" is "\n" meaning that after the print statement it will print a new line
# so we'd just need to state something else other than "\n"

a="Hello"

b="World"

print (a, end=" ")

print (b)

Hello World

In [55]:
myText="roermond is cool"
myText=myText.replace("is","are")

'roermond are cool'

In [57]:
a=[1,3,5,2]
sorted(a)

[1, 2, 3, 5]

In [58]:
a

[1, 3, 5, 2]

In [34]:
s = "experfy"

print (s.capitalize())  # Capitalize a string

print (s.upper())      # Convert a string to uppercase

print (s.rjust(3))      # Right-justify a string, padding with spaces

s= "PYTHON".lower()

print (s.center(8))     # Center a string, padding with spaces

print (s.replace('y', 'yyy'))  # Replace all instances of one substring with another

Experfy
EXPERFY
experfy
 python
pyyython

In [35]:
# beware that we don't change the variable by using these functions.. if we want:

s=s.upper()

s

'PYTHON'

In [59]:
# strip() function.. default value is whitespace..

print ('  exper '.strip())  # Strip leading and trailing whitespace

exper

In [37]:
# we can strip any character set from the string.. but only if the string begins or end with that character set

s="experfy"

print (s.strip("ex"))

print (s.strip("y"))

perfy
experf

In [38]:
# if we want to strip just from the beginning or end, we can use lstrip() for the beginnings and rstrip() for the endings..

s="......experfy....."

print (s.lstrip("."))

print (s.rstrip("."))

experfy.....
......experfy

In [39]:
# startswith() and endswith() returns boolean if a certain part of string is at the beginning or at the end of the string.
# these two functions are quite useful in if-else statements..

s="learning Python is quite fun"

s.startswith("learn")

True

In [40]:
s.endswith("fun")

True

In [41]:
s.startswith("Learn")

False

In [60]:
# strings are actually a set or array of characters.. so we can get each letter with brackets [].. note that indices starts with zero..

s="experfy"

s[3:5]

'er'

In [43]:
s[2]

'p'

In [44]:
s[-1]

'y'

In [45]:
s[-2]

'f'

In [46]:
s[0:2]

# returns the first two letters

'ex'

In [47]:
s[:-2]

# discards the last two letter

'exper'

In [48]:
s[3:-1]

'erf'

In [49]:
s[0:6:2]

#return the every other letter starting from index 0. "2" shows the steps to jump.. so we have the letters at index 0, 2 and 4..

'epr'

In [50]:
s[::-1]

# reversing the string

'yfrepxe'

In [51]:
len(s)

7

In [61]:
s="python"
s[-len(s)]

'p'

In [53]:
# join() function is used the insert certain character(s) between each letter in a string

s= "experfy"

"*".join(s)

'e*x*p*e*r*f*y'

In [65]:
s="learning:python:in:5:days"

s=s.split(":")
#print(list(s))
print (s)
# splits the string by spaces

['learning', 'python', 'in', '5', 'days']

In [71]:
name="jack bauer"

" ".join([x.capitalize() for x in name.split()])

'Jack Bauer'

In [55]:
s_list=s.split()

s_list[1]

'python'

In [56]:
s="learning python, in 5 days"

s.split(",")

['learning python', ' in 5 days']

In [57]:
# count() function is used the count the number of certain letter in the string

s.count("a")

2

In [58]:
# the second parameter in count() is used to specify the starting point to start counting

s.count("a",4)

1

In [59]:
# find(x) : search for "x" value inside the string and returns the index of first "x" from the beginning. If it cannot find, it returns "-1"
# rfind(x) : same as find() but search starts from the end of the string.

s.find("a")

2

In [60]:
s.rfind("a")

23

#### getting inputs from user

In [72]:
a=input("please enter your name:")
b=input("please enter your age:")

print ("Your name is {} and you're {} years old".format(a,b))

please enter your name:python
please enter your age:3
Your name is python and you're 3 years old

In [79]:
a=input()

print (a*3)

x
xxx

In [80]:
a="v"
print (a*3)

vvv

## 3. Data Structures (lists, dictionaries, sets and tuples)

#### Lists

In [81]:
# a list is the Python equivalent of an array, but is resizeable and can contain elements of different types

my_list = [3, 4, 5, 5, True, 6, "tree", 3.14, 125]
my_list

[3, 4, 5, 5, True, 6, 'tree', 3.14, 125]

In [89]:
my_list[0]

3

In [91]:
empty_list=list()
empty_list

[]

In [92]:
# we can do the same with list() function

new_empty_list= list()

In [93]:
empty_list==new_empty_list

True

In [110]:
s="experfy"

my_list= list((1,3,4, 5,6,7,8))

my_list

[1, 3, 4, 5, 6, 7, 8]

In [95]:
len(my_list)

3

In [96]:
# for slicing, we can do anything we want that we do with strings..

my_list[:2]

[1, 3]

In [98]:
my_list[::2]

[1, 4, 6, 8]

In [99]:
my_list[:-2]

[1, 3, 4, 5, 6]

In [73]:
my_list[3]

'e'

In [104]:
a=[1,3,5] 
b=[6,8,9]

In [111]:
[a[0]]+b+a[1:]

[1, 6, 8, 9, 3, 5]

In [112]:
# we can add new item by .append() method

my_list.append("new_item")

my_list

[1, 3, 4, 5, 6, 7, 8, 'new_item']

In [113]:
# replacing the 3rd and 4th item with new ones

my_list[3]="z"

my_list[4:6]=3,5

my_list

[1, 3, 4, 'z', 3, 5, 8, 'new_item']

In [128]:
my_list[3:5]=[3,5]

my_list

[1, 3, 4, 3, 5, 5, 8]

In [129]:
# we can add new list as a list item

my_list[4]=[23,45]

my_list

[1, 3, 4, 3, [23, 45], 5, 8]

In [135]:
type((a , b))

tuple

In [133]:
my_list

[1, 3, 4, ([1, 3, 5], [6, 8, 9]), [23, 45], 5, 8]

In [115]:
# we can use remove() to remove any item form the he list

my_list.remove("new_item")

my_list

[1, 3, 4, 'z', [23, 45], 5, 8]

In [138]:
my_list.remove(5)
my_list

[1, 3, 4, ([1, 3, 5], [6, 8, 9]), [23, 45]]

In [139]:
# we can remove and return the last element of the list

my_list.pop()

[23, 45]

In [140]:
my_list

[1, 3, 4, ([1, 3, 5], [6, 8, 9])]

In [145]:
# concatenating two lists

a_list=[2,4,5,8]

b_list=[1,8,3,6]

c_list=a_list+b_list

c_list

[2, 4, 5, 8, 1, 8, 3, 6]

In [147]:
d_list=c_list + ["www"]

d_list

[2, 4, 5, 8, 1, 8, 3, 6, 'www']

In [150]:
# join () function is used to concatenate each string item in the list with certain character(s). If the items are not string, error pops up

my_list= ["12","1","2017"]

" ".join(my_list)

'12 1 2017'

In [155]:

sum([int(x) for x in my_list[1:]])

2030

In [156]:
toplam=0
for x in my_list[:-1]:
    toplam+=int(x)
toplam

13

In [161]:
d_list.remove(d_list[-1])

In [162]:
d_list

[2, 4, 5, 8, 1, 8, 3]

In [164]:
# we can sort the list.. after sorting, the items are ordered and assigned to same list variable

d_list.pop()

d_list.sort(reverse=True)

d_list

[8, 5, 4, 2, 1]

In [85]:
# we can reverse the order

d_list.sort(reverse = True)

d_list

[8, 8, 6, 5, 4, 3, 2, 1]

In [165]:
# We can do the same with putting the list inside sorted() function. But sorted() function doesn't change the order of items.

d_list=[1, 5, 3, 2, 7, 6, 9, 8]

sorted(d_list)

[1, 2, 3, 5, 6, 7, 8, 9]

In [167]:
d_list.sort() 

d_list=sorted(d_list)

d_list

[1, 2, 3, 5, 6, 7, 8, 9]

In [168]:
# we can extend the list by multiplying with a number

d_list=d_list*3

d_list

[1, 2, 3, 5, 6, 7, 8, 9, 1, 2, 3, 5, 6, 7, 8, 9, 1, 2, 3, 5, 6, 7, 8, 9]

In [169]:
# we can create a ordered list with list() and range().. this will be quite useful in for-loops..

list(range(8))

[0, 1, 2, 3, 4, 5, 6, 7]

In [96]:
a=range(8)
a[7]

7

In [172]:
# creating a list in given interval 

range(2,15)[3]

5

In [173]:
# creating a list with given interval and steps

a=range(1,12,3)

print (a[0])
print (a[1])

1
4

In [174]:
# multidimensional lists (list of lists)

a=[1,2,3]

b=[4,5,6]

c=["x","y","z"]

d_list=[a,b,c]

d_list

[[1, 2, 3], [4, 5, 6], ['x', 'y', 'z']]

In [175]:
d_list[0][2]

3

In [102]:
d_list[2][1]

'y'

In [176]:
# how to create emtyp 2-D list

d_list=[[]]

d_list

[[]]

In [179]:
"xx".join(["a","b"])

'axxb'

In [104]:
d_list.pop()

[]

In [105]:
len(d_list)

0

In [180]:
d_list.append(a)

d_list

[[], [1, 2, 3]]

In [181]:
# insert() function is used to insert an item at a certain index

my_list = [1,2,3,4,5,6,7,8,9]

my_list.insert(2,"python")

print (my_list)

[1, 2, 'python', 3, 4, 5, 6, 7, 8, 9]

In [182]:
# index () function returns the item's index or the index of an item

my_list.index(2)

1

In [183]:
my_list.index("python")

2

In [184]:
# count() returns the number of given items in the list

my_list = [1,2,3,4,4,6,7,8,9]

my_list.count(4)

2

#### Dictionaries

In [185]:
# Dictionary is a collection of key-value pairs.

my_dict = {
  "key1": "value1",
  "key2": "value2",
  "key3": "value3"
}

my_dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [190]:
my_dict.keys().index("key1")

AttributeError: 'dict_keys' object has no attribute 'index'

In [195]:
bank_records={
    "personal": {
        "kids":{"boys":
                {"school":"mm", "age":12}}
                
    },
}
bank_records

{'personal': {'kids': {'boys': {'school': 'mm', 'age': 12}}}}

In [197]:

bank_records["personal"]["kids"][x]["age"]

12

In [187]:
# we can access the dictionary value with keys.

my_dict["key1"]=[1,2]
my_dict

{'key1': [1, 2], 'key2': 'value2', 'key3': 'value3'}

In [194]:
list(my_dict)

['key1', 'key2', 'key3']

In [193]:
for x in my_dict:
    print (x)

key1
key2
key3

In [137]:
# if we want to return the keys as list

list(my_dict.keys())

['key1', 'key2', 'key3']

In [138]:
# if we use list with no keys, we still get the key list

list(my_dict)

['key1', 'key2', 'key3']

In [139]:
my_dict.values()

dict_values(['value1', 'value2', 'value3'])

In [140]:
list(my_dict.values())

['value1', 'value2', 'value3']

In [141]:
print("the second value in my_dict is %s" %(my_dict["key1"]))

the second value in my_dict is value1

In [142]:
# we can change the value of any key..

my_dict["key1"]=25

my_dict

{'key1': 25, 'key2': 'value2', 'key3': 'value3'}

In [143]:
# we can add new key-value pair or edit the existing one with update() (as we use append() in lists)

my_dict.update({'key4':"value4"})

my_dict

{'key1': 25, 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [145]:
# we can remove keys with del

del my_dict["key1"]

my_dict

{'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [198]:
# we can create an empty dictionary..

empty_dict={}

empty_dict

{}

In [199]:
# we can use lists as a value

empty_dict["key2"]=[1,2,3]

empty_dict

{'key2': [1, 2, 3]}

In [200]:
# we can use dictionaries itself as a value

empty_dict["key3"]={"key5":45}

empty_dict

{'key2': [1, 2, 3], 'key3': {'key5': 45}}

In [150]:
my_dict.update({'key3':"value4"})

In [151]:
my_dict

{'key2': [1, 2, 3], 'key3': {'key5': 45}, 'key4': 'value4'}

#### Tuples

In [201]:
# Tuples are very similar to lists but the only and most important difference is that the tuples are immutable. 
# So we can use tuples for the list items that shouldn't be changed and it's much faster than lists due to its read-only property

my_tuple=(1,2,3,4,5,6,7, 6)

my_tuple

(1, 2, 3, 4, 5, 6, 7, 6)

In [153]:
my_tuple[1]

2

In [158]:
# tuples have just two methods: index() and count()

my_tuple.index(5)

4

In [155]:
my_tuple.count(4)

1

In [156]:
# if we try to change any item in the tuple, an error pops up

my_tuple[1]=4

TypeError: 'tuple' object does not support item assignment

#### Sets

In [204]:
mylist=list(set(my_tuple))

mylist[0]

1

In [161]:
# Sets are another importan container that can hold each unique item only once. It's much faster than lists but not ordered as lists..

my_set=set()

my_set

set()

In [162]:
my_list

[1, 2, 3, 4, 4, 6, 7, 8, 9]

In [163]:
my_set=set(my_list)

my_set

{1, 2, 3, 4, 6, 7, 8, 9}

In [208]:
my_set={1,5, 7, 2,3,4, 4}

my_set

{1, 2, 3, 4, 5, 7}

In [168]:
type(my_set)

set

In [207]:
s="Experfyz.com is Athe best place to be"

#sorted(list(set(s)))
set(s)

{' ',
 '.',
 'A',
 'E',
 'a',
 'b',
 'c',
 'e',
 'f',
 'h',
 'i',
 'l',
 'm',
 'o',
 'p',
 'r',
 's',
 't',
 'x',
 'y',
 'z'}

In [213]:
# We can not access an item of a set 

from math import pow as zafer

zafer(2,3)

8.0

In [216]:
del my_set

In [217]:
# we can access an item of a set by converting it to list

list(my_set)[0]

NameError: name 'my_set' is not defined

In [219]:
# We can a new item to sets with add() method
my_set=set(range(9))
my_set.add(9)

my_set

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [220]:
# We can remove an item from sets with discard() or remove()

my_set.discard(3)

my_set

{0, 1, 2, 4, 5, 6, 7, 8, 9}

In [221]:
my_set.remove(4)

my_set

{0, 1, 2, 5, 6, 7, 8, 9}

In [222]:
# We can return the difference between two sets with difference() method

set1={1,3,5,7,9}
set2={3,5,1,0}

set1.difference(set2)

{7, 9}

In [193]:
set2.difference(set1)

{0}

In [194]:
# What if we want to see the common items in two sets? 

set1.intersection(set2)

{1, 3, 5}

In [195]:
# If we want to join two sets, we can use update() method

set1.update(set2)

set1

{0, 1, 3, 5, 7, 9}

In [199]:
set2.update(set1)

set2

{0, 1, 3, 5, 7, 9}

## 4. Conditional States and Loops

#### if-else statement

In [223]:
#“If” statement evaluates whether a statement is True or False. If it is True, it executes what is inside the “if” statement.

a=3

if a>1:
    print ("%d is greater than 1" % a)

# we must use ":" after "if" statement, indentation before the following line after "if"

3 is greater than 1

In [225]:
a = int (input("Enter a number:"))

if a==4:
    print ("%d is equal to 4" % a)
    m=a*5
    k=m/3
    print (k)

print ("printing out of if clause")

Enter a number:4
4 is equal to 4
6.666666666666667
printing out of if clause

In [226]:
# The “else” statement will be executed if the “if” expression is false.

a=0

if a>1:
    print ("%d is greater than 1" % a)
else:
    print ("%d is not greater than 1" % a)

0 is not greater than 1

In [228]:
# we can add more than one if statment with "elif"

a = 2

b= a>1

c= 6>5

d= a>3

if b or c:
    print ("a is greater than 1")
    if b*c:
        print ("c is true")
elif d:
    print ("a is not greater than 1")
elif c==True:
    print ("a is not greater than 5")
else:
    print ("a is equal to 0")

# when any of the statements (if or elif ) is True, the whole block is done (no need to check for the following statements)

a is greater than 1
c is true

In [229]:
# we can use nested if-statements for multiple cascading conditions

score = int (input("Enter your score:"))

if score>90:
    if score>95:
        grade="A+"
    else:
        grade="A"
elif score>80:
    if score>85:
        grade="B+"
    else:
        grade="B"
else:
    grade="Below B"
    
print ("Your grade is %s" %grade)

Enter your score:88
Your grade is B+

In [230]:
s="Welcome to Python with Experfy.com"

if "Python" in s:
    print (s)
else:
    print ("not found")

Welcome to Python with Experfy.com

In [341]:
s.split()

['Welcome', 'to', 'Python', 'with', 'Experfy.com']

In [333]:
if s.endswith(".com"):
    print ("website found")
else:
    print ("no website")

website found

#### for-loop

In [231]:
for x in set(range(8)):
    print (x)

0
1
2
3
4
5
6
7

In [401]:
# Before learning for-loop, at first lets learn an important function which is quite useful in for-loops: range()
# range(x) is a list

list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [403]:
# we can even treat the range() list as string list and use * formatting to write the items in the same line

print(*range(10)) # prints the numbers from 0 to 9

0 1 2 3 4 5 6 7 8 9

In [404]:
print(*range(3,10))  # prints the numbers from 3 to 9

3 4 5 6 7 8 9

In [405]:
print(*range(3,20,2)) # prints every other numbers from 5 to 20 (the third paramater specifies the interval )

3 5 7 9 11 13 15 17 19

In [407]:
print(*range(10,0,-2)) # prints the numbers in reverse order with given interval

10 8 6 4 2

In [345]:
# let's see how we can loop through 1 to 10 and print the result.. 
# we'll use range() for that.. recall that indices start from the first parameter and ends with (last parameter-1)
# range(1,11) means 1 to 10 (including)

for x in range(1,11):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [359]:
# to write each item next to each other, recall the print formatting lesson..

for x in range(1,11):
    print(x, end=" ")

1 2 3 4 5 6 7 8 9 10

In [384]:
# lets sum up all the values from 1 to 100

sum_up=0

for x in range(1,101):
    sum_up+=x  # sum_up=sum_up+x

sum_up

5050

In [393]:
# lets write a little bit complex script to print all the prime numbers from 1 to 100

for x in range(1,101):
    count=0
    if x<=2:
        print (x,end=" ")
    elif x%2!=0:
        for y in range(2,x//2):
            if (x%y)==0:
                count+=1
        if count==0:
            print (x, end=" ")

1 2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [17]:
# lets see how we can use the iterator item in calculations

new_list=[]

for x in range(1,11):
    new_list.append(x**2)

print (*new_list)

1 4 9 16 25 36 49 64 81 100

In [19]:
# if we'd like to change the value of a list item and do not know the upper limit to iterate, 
# we can specifiy the range() limits by the length of the list..
# lets change the the value of items at even indices.

animals = ['bird', 'rabbit', 'dog', 'cat']

for index in range(0,len(animals)):
    if index%2==0:
        animals[index]="tiger"
        
animals

['tiger', 'rabbit', 'tiger', 'cat']

In [ ]:
# we can also iterate within dictionaries.

my_dict = {
  "key1": "value1",
  "key2": "value2",
  "key3": "value3"
}

for x in my_dict:
    
    print (x, end=" ")

# as you can see, print retuns the dict keys; not the values..

In [378]:
for x in my_dict.values():
    
    print (x, end=" ")

value1 value2 value3

In [383]:
# if we want to access to keys and their corresponding values, we can use the iteritems() method

for key, value in my_dict.items():
    
    print (key,":",value)
    
# we can use anything as keys and values like x,y; a,b etc.

key1 : value1
key2 : value2
key3 : value3

In [21]:
# If we want to loop through more than one list at the same time, we can use zip() functions.

for x,y in zip(new_list,animals):
    print (x,">>",y)

1 >> tiger
4 >> rabbit
9 >> tiger
16 >> cat

#### while-loop

In [2]:
# A while-loop will keep executing the code block under it as long as a boolean expression is True

# While-loop is not being used as often as for-loops.. 

# A for-loop can only iterate “over” collections of things. A while-loop can do any kind of iteration we want. 

x = 0 

while (x < 5):
    print("x:",x)
    x += 1 # if we forget to set some change to break the loop, we may trap in infinite loop !!

x: 0
x: 1
x: 2
x: 3
x: 4

In [3]:
# lets iterate over a list or dictionary

my_list=["a","b","c","d","e","f"]

x=0

while x< len(my_list):
    
    print (x**2)
    
    x+=1

# as we can see, it's much easier to do the same with for-loop..

0
1
4
9
16
25

In [5]:
# one of the most useful application area of while-loop can be forcing the user enter the information in a required format

a=input("please enter your age:")

while not a.isdigit():
    
    a=input("please enter your age:")

print("You entered a valid age !")

please enter your age:a
please enter your age:s
please enter your age:g
please enter your age:t
please enter your age:12
You entered a valid age !

In [9]:
# let's build a simple "guess the number game"

target=123

counter=1

a=input("please enter your guess: ")

while not a.isdigit():
     a=input("please enter your guess: ")

while int(a)!=target:
    
    if int(a) < target:
        
        print ("Wrong guess ! Please try again with a bigger number...")
        
    else:
        print ("Wrong guess ! Please try again with a smaller number...")
    
    a=input("please enter your guess: ")
    
    while not a.isdigit():
        a=input("please enter your guess: ")
    
    counter+=1
    

print (" Well done !! You found the right number after %d trials" %counter)

please enter your guess: 34
Wrong guess ! Please try again with a bigger number...
please enter your guess: 54
Wrong guess ! Please try again with a bigger number...
please enter your guess: 120
Wrong guess ! Please try again with a bigger number...
please enter your guess: 150
Wrong guess ! Please try again with a smaller number...
please enter your guess: 130
Wrong guess ! Please try again with a smaller number...
please enter your guess: w
please enter your guess: 123
 Well done !! You found the right number after 6 trials

### List and Dict Comprehensions

In [1]:
# List and Dictionary comprehension in Python is a nice way to shorten and simplify the loops as well as increase the process speed.
# Recall the following structure.

new_list=[]

for x in range(1,11):
    new_list.append(x**2)

print (*new_list)

# The same structure can be written with list comprehension.

new_list = [x**2 for x in range(1,11)]

print (*new_list)

# As you can see, we didn't even need to desribe an empty list before the for-loop..

1 4 9 16 25 36 49 64 81 100
1 4 9 16 25 36 49 64 81 100

In [3]:
# We can also state the conditions inside the list comprehension.

new_list = [x**2 for x in range(1,11) if x%2==0]

new_list

[4, 16, 36, 64, 100]

In [4]:
# What if we want to state some conditions for the left hand side.
# Let's try to calculate square of even numbers and cube of odd numbers.

new_list = [x**2 if x % 2 == 0 else x**3 for x in range(1,11)]

new_list

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

In [6]:
# List comprehensions can also be nested inside each other. Let's write a list of list.

print([[1 for x in range(10)] for y in range(10)])

[[1, 1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]

In [10]:
# We can also use the built-in functions that can be used by lists.

sum([x**2 if x % 2 == 0 else x**3 for x in range(1,11)])

1445

In [85]:
# let's try to use list comprehension for nested for-loops

nested_list=[[1,2,3,4,5],[6,7,8,9,10]]

nested_list

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]]

In [89]:
# printing the list items as a single list

for inner_list in nested_list:
    
    for item in inner_list:
        
        print (item, end=" ")

1 2 3 4 5 6 7 8 9 10

In [90]:
# do the same with list comprehension
# The principle is simple: use the same order you'd use in writing it out as nested for loops

items=[item for inner_list in nested_list for item in inner_list]

print (items)
# beware that we go from outer loop to inner loop (not the opposite)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
# Now let's look at dict comprehensions. It's quite similar to list comprehensions.

d = {'a':1,'b':2,'c':3}

d = {key:value*2 for (key,value) in d.items() if value > 2}

print(d)

{'c': 6}

In [16]:
 {x: x**3 for x in range(10)}

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}

## 5. Input/output operations (reading and writing files)

We'll learn about Python file operations such as opening a file, reading from it, writing into it, closing it and various file methods

sample txt file:
<font color=blue> 
We launched Experfy to bring together the world's most prestigious analytics talent that not only possesses algorithmic skills but also deep domain knowledge. 
We want to help enterprises hire the world's best analytics talent to increase speed of decision making, manage risk and understand customer needs. 
</font>

In [33]:
# open file in current directory in reading mode

f = open("sample.txt")    # this is a file object/ handler

# we could also specify a path for the file (f = open("C:/sample.txt")

In [34]:
# there are multiple file modes in Python but we'll deal with the most useful ones

# 'r'	Open a file for reading. (default)
# 'w'	Open a file for writing. Creates a new file if it does not exist or overwrites the file if it exists.
# 'a'	Open for appending at the end of the file without rewriting it. Creates a new file if it does not exist.

f = open("sample.txt", "r") # we open the file in reading mode

In [35]:
# when we're dealing with file operations, we need to close the file properly to prevent unexpected beahviours

f.close()

In [36]:
# CLosing the file properly is quite important we need to guarentee that it's closed after we're done with it.
# One of the safest way to ensure if it's closed, we can use "with..as" statement
# This ensures that the file is closed when the block inside with is exited (close() method is executed internally)

with open("sample.txt", "r") as f:
    text=f.read(11) # read first 10 characters
    text_2=f.read(8) # read the next 10 characters
    f.seek(0) # move the cursor to position 0
    text_3=f.read(11)
    position=f.tell() # the position of cursor

print (text)
print (text_2)
print (text_3)
print (position)

We launched
 Experfy
We launched
11

In [37]:
with open("sample.txt", "r") as f:
    first_line=f.read() # read till the end of file

print (first_line)

We launched Experfy to bring together the world's most prestigious analytics talent that not only possesses algorithmic skills but also deep domain knowledge.
We want to help enterprises hire the world's best analytics talent to increase speed of decision making, manage risk and understand customer needs.

In [38]:
# we can also read the file line by line (reads till the end of line.. "\n")

with open("sample.txt", "r") as f:
    line=f.readline()
    
print (line)

We launched Experfy to bring together the world's most prestigious analytics talent that not only possesses algorithmic skills but also deep domain knowledge.

In [39]:
# we can read the rest of the lines just with single command: f.readlines()

with open("sample.txt", "r") as f:
    line=f.readline()
    rest_of_lines=f.readlines()
    
print (rest_of_lines)

["We want to help enterprises hire the world's best analytics talent to increase speed of decision making, manage risk and understand customer needs. "]

In [40]:
# now lets see how we can write to files

with open("sample_new.txt",'w') as f: # we created a new file named sample_new.txt
    f.write("This is line 1\n")
    f.write("This is line 2\n")

# and read this file

with open("sample_new.txt", "r") as f:
    lines=f.read()

print (lines)

This is line 1
This is line 2

In [41]:
#now let's append a new line to this file

with open("sample_new.txt",'a') as f: 
    f.write("This is line 3\n")

# and read this file

with open("sample_new.txt", "r") as f:
    lines=f.read()

print (lines)

This is line 1
This is line 2
This is line 3

## 6. Functions

In [18]:
# Functions are used to encapsulate repetitive works so that we can use it wit a single line of command.
# A function is a piece of code written to carry out a specified task
# The heading of a function contains def, the name of the function, parentheses, and finally a colon.
# let's write a function summing up two values given

def my_function(x,y):
    
    return x+y # return statement is optional.

my_function(3,5)

8

In [19]:
# we can use this function as if it's a variable

my_function(3,5)*2

16

In [22]:
# let's wire a function returning all the values smaller than a parameter as a list.

def make_list_less_than(x):
    
    small_list=[]
    for y in range(x):
        small_list.append(y)
    
    return small_list

#end of function

print (make_list_less_than(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
# We can shorten this function by using list comprehensions

def make_list_less_than(x):
    
    small_list=[y for y in range (x)]
    
    return small_list

#end of function

print (make_list_less_than(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
# we don't need to set a parameter for a function

def greetings():
    
    print ("Hello")
    
greetings()

Hello

In [29]:
# let's write a log-in function accepting an input from the user and returns as a greeting

def login_dict():
    
    name=input("Your name:")
    surname=input("Your surname :")
    print ("Welcome {} {}".format(name,surname))
    
    return

# end of function

login_dict()

Your name:John
Your surname :Bach
Welcome John Bach

In [35]:
# let's write another function calculating the squares of values (excluding the end values) in given interval

def sqr_interval(x,y):
    
    result=[z*z for z in range(x+1,y)]
    
    return result

print (*sqr_interval(5,26))

36 49 64 81 100 121 144 169 196 225 256 289 324 361 400 441 484 529 576 625

In [44]:
# we can set default values for parameters used in functions and change that values

def conditional_greeting (name, lastname, n=True, ln=True): 
# default argument shouldn't come before non-default arguments
    
    name_surname=""
    if n:
        name_surname+=name
    if ln:
        name_surname+=lastname
    
    return "Hello "+name_surname

In [45]:
conditional_greeting("John","Bach",True,False)

'Hello John'

In [46]:
conditional_greeting("John","Bach",True,True)

'Hello JohnBach'

In [47]:
# now lets a function writing a string in reverse order

def reverse(s):
    
    return s[::-1]

reverse("welcome")

'emoclew'

## 7. Embedded functions

#### Embedded functions are built-in features that do most of the work for us in much faster and simpler way (Pythonic Way !).

### all ( ) and any( )

In [4]:
# all() function returns True if all values in a list are True; at least one value is False, it returns False

my_list=[True, True, True, True]

all(my_list)

True

In [5]:
my_list=[True, False, True, True]

all(my_list)

False

In [7]:
# any() function returns False if all values in a list are False; at least one value is True, it returns False.

my_list=[True, False, False, True]

any(my_list)

True

In [8]:
my_list=[False, False, False, False]

any(my_list)

False

In [12]:
# if we had to do the same without all() and any(), we had to use if-else conditions.

### enumerate ( )

In [14]:
# enumerate () is used to iterate over lists using both index and items
# it does the same thing as dict.items() does for dictionaries..

animals = ['bird', 'rabbit', 'dog', 'cat']

# lets write each item with its index number; but without using enumerate()

index=0

for animal in animals:
    print ("index : {} animal : {}".format(index,animal))
    index+=1

index : 0 animal : bird
index : 1 animal : rabbit
index : 2 animal : dog
index : 3 animal : cat

In [15]:
# now let's do the same with enumerate()

for index,animal in enumerate(animals):
    print ("index : {} animal : {}".format(index,animal))

index : 0 animal : bird
index : 1 animal : rabbit
index : 2 animal : dog
index : 3 animal : cat

### lambda

In [79]:
# lambda functions are another way of defining the functions
# it can be useful when you need to create a function that is going to be used only once 
# or when you don't want to bother defining all the routines for function

def sqr (x):
    
    return x**2

print (sqr(3))

9

In [80]:
lambda_sqr= lambda x: x**2

print (lambda_sqr(3))

9

In [55]:
f = lambda x, y : x + y

f(3,5)

8

In [59]:
is_even=lambda x: print ("{} is even".format(x)) if x % 2==0 else print ("{} is odd".format(x))

is_even(35)

35 is odd

### filter

In [64]:
# The filter filters out items based on a test function which is a filter and apply functions to pairs of item 
# The first parameter in filter () must be boolean
# This function will be applied to every element of the list l. 
# Only if first parameter returns True will the element of the list be included in the result list.

def is_even(x):
    
    if x%2==0:
        
        return True
    else:
        return False


list(filter (is_even, range(1,10)))

# there is no () or parameter when calling the function

[2, 4, 6, 8]

In [65]:
# we can do the same with lambda fıunction

list(filter (lambda x: True if x % 2==0 else False, range(1,10)))

[2, 4, 6, 8]

In [78]:
# let's list the even values smaller than a given value

def get_even(x):
    
    result = []
    for a in range(0,x):
        if a%2==0:
            result.append(a)
    return result

get_even(24)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22]

In [76]:
# now we can write the same with lambda and filter in much simpler and fsater way

list(filter((lambda x: x%2==0), range(0,24)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22]

### map

In [81]:
#  map function applies a passed-in function to each item in an iterable object 
# and returns a list containing all the function call result.
# it takes a function as the first parameter, and an iterable object as the second parameter

items = [1, 2, 3, 4, 5]

def sqr(x): 
    
    return x ** 2

list(map(sqr, items))

[1, 4, 9, 16, 25]

In [82]:
list(map((lambda x: x **2), items))

[1, 4, 9, 16, 25]

In [90]:
# lets list the squares if the number is even; else just itself

result=list(map((lambda x: x**2 if x%2==0 else x), range(0,24)))

print (*result)

0 1 4 3 16 5 36 7 64 9 100 11 144 13 196 15 256 17 324 19 400 21 484 23

## 8. Exceptions and error handling

An exception is an error that happens during execution of a program. When that error occurs, Python generate an exception that can be handled, which avoids your program to crash.

Exceptions are convenient in many ways for handling errors and special conditions in a program. When you think that you have a code which can produce an error then you can use exception handling so that rest of your code can be executed

In [95]:
'''
try:
    some statements here
except:
    exception handling
'''


The code within the try clause will be executed statement by statement.

If an exception occurs, the rest of the try block will be skipped and the except clause will be executed.

In [96]:
try:
    x=input("enter a number:")
    print (x**x)
except:
    print ("Please enter just numbers ! ")

enter a number:a
Please enter just numbers !

if we know what kind of errors can be thrown, we can specify certain behaviours !

except IOError:
    print('An error occurred trying to read the file.')

except ValueError:
    print('Non-numeric data found in the file.')

except ImportError:
    print "NO module found"

except EOFError:
    print('EOF error !')

except KeyboardInterrupt:
    print('You cancelled the operation.')

except:
    print('An error occurred.')

In [97]:
try:
    x=input("enter a number:")
    print (x**x)
except:
    x=2
    print (x**x)

enter a number:a
4

In [98]:
# if you don't want to specify anything after "except", you can just use "pass"

try:
    x=input("enter a number:")
    print (x**x)
except:
    pass

print ("The code is still running")

enter a number:a
The code is still running

In [100]:
# we can also catch and print the error

try:
    x=1/0
except Exception as e:
    print (e)

division by zero

There are many other error handling options but we just covered the most useful ones

## 9. Modules

A module is a file consisting of Python code. A module can define functions, classes and variables. A module can also include runnable code.

We can use previously written scripts by importing the code into our code

In [101]:
# lets first learn how to create a plain python (.py) file and then try to use that file's functions in our code

In [114]:
%%writefile example.py 
# this command is used to create a python file within a Jupyter Notebook's cell

def make_list_in_range(x,y):
    
    new_list=[]
    for a in range(x+1,y):
        new_list.append(a)
    
    return new_list

def make_list_of_even(x,y):
    
    new_list=[]
    for a in range(x+1,y):
        if a%2==0:
            new_list.append(a)
    
    return new_list

Writing example.py

In [104]:
# lets see what happens when we want to use these functions

make_list_in_range(1,34)

NameError: name 'make_list_in_range' is not defined

In [1]:
# it throws error as it's in another .py file. So we need to import that file at first

import example

In [2]:
example.make_list_in_range(1,5)

[2, 3, 4]

In [3]:
print (*example.make_list_in_range(1,34))

2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33

In [4]:
print (*example.make_list_of_even(1,34))

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32

In [6]:
# if we'd like to shorten the file name while using...

import example as ex

ex.make_list_in_range(1,5)

[2, 3, 4]

In [3]:
# it's time to talk a little bit of importing the other modules and packages embedded in Python

import math

In [8]:
math.sqrt(4)

2.0

In [9]:
from math import sqrt

In [10]:
sqrt(4)

2.0

In [6]:
# if we still do not want to use any handle to call a method, we can import all the methods of a given module

from math import *

In [7]:
ceil(3.4)

4

In [4]:
dir(math) # we can see all the methods inside the math module

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [ ]:
# if we want to see the methods that can be used with a module, there is a shortcut for this in Jupyter..
# press Tab after dot
# if we want a detailed explanation for a method, we can use Shift+Tab+Tab

math.sqrt

In [5]:
help (math) # help() lists all the methods and explanations

Help on module math:

NAME
    math

MODULE REFERENCE
    https://docs.python.org/3.6/library/math

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    This module is always available.  It provides access to the
    mathematical functions defined by the C standard.

FUNCTIONS
    acos(...)
        acos(x)

        Return the arc cosine (measured in radians) of x.

    acosh(...)
        acosh(x)

        Return the inverse hyperbolic cosine of x.

    asin(...)
        asin(x)

        Return the arc sine (measured in radians) of x.

    asinh(...)
        asinh(x)

        Return the inverse hyperbolic sine of x.

    atan(...)
        atan(x)

        Return the arc tangent (measured in radians) of x.

    atan2(...)
        atan2(y, x)

        Return the arc tangent (measured in radians) of y/x.
        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(...)
        atanh(x)

        Return the inverse hyperbolic tangent of x.

    ceil(...)
        ceil(x)

        Return the ceiling of x as an Integral.
        This is the smallest integer >= x.

    copysign(...)
        copysign(x, y)

        Return a float with the magnitude (absolute value) of x but the sign
        of y. On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(...)
        cos(x)

        Return the cosine of x (measured in radians).

    cosh(...)
        cosh(x)

        Return the hyperbolic cosine of x.

    degrees(...)
        degrees(x)

        Convert angle x from radians to degrees.

    erf(...)
        erf(x)

        Error function at x.

    erfc(...)
        erfc(x)

        Complementary error function at x.

    exp(...)
        exp(x)

        Return e raised to the power of x.

    expm1(...)
        expm1(x)

        Return exp(x)-1.
        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(...)
        fabs(x)

        Return the absolute value of the float x.

    factorial(...)
        factorial(x) -> Integral

        Find x!. Raise a ValueError if x is negative or non-integral.

    floor(...)
        floor(x)

        Return the floor of x as an Integral.
        This is the largest integer <= x.

    fmod(...)
        fmod(x, y)

        Return fmod(x, y), according to platform C.  x % y may differ.

    frexp(...)
        frexp(x)

        Return the mantissa and exponent of x, as pair (m, e).
        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(...)
        fsum(iterable)

        Return an accurate floating point sum of values in the iterable.
        Assumes IEEE-754 floating point arithmetic.

    gamma(...)
        gamma(x)

        Gamma function at x.

    gcd(...)
        gcd(x, y) -> int
        greatest common divisor of x and y

    hypot(...)
        hypot(x, y)

        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(...)
        isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0) -> bool

        Determine whether two floating point numbers are close in value.

           rel_tol
               maximum difference for being considered "close", relative to the
               magnitude of the input values
            abs_tol
               maximum difference for being considered "close", regardless of the
               magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(...)
        isfinite(x) -> bool

        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(...)
        isinf(x) -> bool

        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(...)
        isnan(x) -> bool

        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(...)
        ldexp(x, i)

        Return x * (2**i).

    lgamma(...)
        lgamma(x)

        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x[, base])

        Return the logarithm of x to the given base.
        If the base not specified, returns the natural logarithm (base e) of x.

    log10(...)
        log10(x)

        Return the base 10 logarithm of x.

    log1p(...)
        log1p(x)

        Return the natural logarithm of 1+x (base e).
        The result is computed in a way which is accurate for x near zero.

    log2(...)
        log2(x)

        Return the base 2 logarithm of x.

    modf(...)
        modf(x)

        Return the fractional and integer parts of x.  Both results carry the sign
        of x and are floats.

    pow(...)
        pow(x, y)

        Return x**y (x to the power of y).

    radians(...)
        radians(x)

        Convert angle x from degrees to radians.

    sin(...)
        sin(x)

        Return the sine of x (measured in radians).

    sinh(...)
        sinh(x)

        Return the hyperbolic sine of x.

    sqrt(...)
        sqrt(x)

        Return the square root of x.

    tan(...)
        tan(x)

        Return the tangent of x (measured in radians).

    tanh(...)
        tanh(x)

        Return the hyperbolic tangent of x.

    trunc(...)
        trunc(x:Real) -> Integral

        Truncates x to the nearest Integral toward 0. Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    /Users/vkocaman/anaconda/envs/py36/lib/python3.6/lib-dynload/math.cpython-36m-darwin.so